.App {
  text-align: center;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

 .myCarousels{
  width: 100%;
  white-space: nowrap;
  height: 100%;
}

.carousel{
  width: 200px;
  margin: 10px;
  position: relative;
  display: inline-block;
  border: 1px solid whitesmoke;
} 


.current{
  color: aquamarine
}

.previous{
  color: blueviolet
}

.after{
  color: lemonchiffon
}

.CanvasComp{
  background-color: antiquewhite
}